/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 960px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.g_c {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.g_1,
.g_2,
.g_3,
.g_4,
.g_5,
.g_6,
.g_7,
.g_8,
.g_9,
.g_10,
.g_11,
.g_12 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
}



.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.g_a {
	margin-left: 0;
}

.g_o {
	margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.g_c .g_1 {
	width:40px;
}

.g_c .g_2 {
	width:120px;
}

.g_c .g_3 {
	width:200px;
}

.g_c .g_4 {
	width:280px;
}

.g_c .g_5 {
	width:360px;
}

.g_c .g_6 {
	width:440px;
}

.g_c .g_7 {
	width:520px;
}

.g_c .g_8 {
	width:600px;
}

.g_c .g_9 {
	width:680px;
}

.g_c .g_10 {
	width:760px;
}

.g_c .g_11 {
	width:840px;
}

.g_c .g_12 {
	width:920px;
}




/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.g_c .prefix_1 {
	padding-left:80px;
}

.g_c .prefix_2 {
	padding-left:160px;
}

.g_c .prefix_3 {
	padding-left:240px;
}

.g_c .prefix_4 {
	padding-left:320px;
}

.g_c .prefix_5 {
	padding-left:400px;
}

.g_c .prefix_6 {
	padding-left:480px;
}

.g_c .prefix_7 {
	padding-left:560px;
}

.g_c .prefix_8 {
	padding-left:640px;
}

.g_c .prefix_9 {
	padding-left:720px;
}

.g_c .prefix_10 {
	padding-left:800px;
}

.g_c .prefix_11 {
	padding-left:880px;
}



/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.g_c .suffix_1 {
	padding-right:80px;
}

.g_c .suffix_2 {
	padding-right:160px;
}

.g_c .suffix_3 {
	padding-right:240px;
}

.g_c .suffix_4 {
	padding-right:320px;
}

.g_c .suffix_5 {
	padding-right:400px;
}

.g_c .suffix_6 {
	padding-right:480px;
}

.g_c .suffix_7 {
	padding-right:560px;
}

.g_c .suffix_8 {
	padding-right:640px;
}

.g_c .suffix_9 {
	padding-right:720px;
}

.g_c .suffix_10 {
	padding-right:800px;
}

.g_c .suffix_11 {
	padding-right:880px;
}



/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.g_c .push_1 {
	left:80px;
}

.g_c .push_2 {
	left:160px;
}

.g_c .push_3 {
	left:240px;
}

.g_c .push_4 {
	left:320px;
}

.g_c .push_5 {
	left:400px;
}

.g_c .push_6 {
	left:480px;
}

.g_c .push_7 {
	left:560px;
}

.g_c .push_8 {
	left:640px;
}

.g_c .push_9 {
	left:720px;
}

.g_c .push_10 {
	left:800px;
}

.g_c .push_11 {
	left:880px;
}



/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.g_c .pull_1 {
	left:-80px;
}

.g_c .pull_2 {
	left:-160px;
}

.g_c .pull_3 {
	left:-240px;
}

.g_c .pull_4 {
	left:-320px;
}

.g_c .pull_5 {
	left:-400px;
}

.g_c .pull_6 {
	left:-480px;
}

.g_c .pull_7 {
	left:-560px;
}

.g_c .pull_8 {
	left:-640px;
}

.g_c .pull_9 {
	left:-720px;
}

.g_c .pull_10 {
	left:-800px;
}

.g_c .pull_11 {
	left:-880px;
}


/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.g_c:before,
.g_c:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after,
.g_c:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}