/* --------------------------------------------------------- */
/* --------------- FONT-FAMILIES --------------- */
/* --------------------------------------------------------- */


{preload_replace:slab='"Rokkitt", "Helvetica", "Arial", sans-serif'}
.slab { font-family: {slab}; }

{preload_replace:condensed='"Geneva", "Open Sans Condensed", "Simple", "Helvetica Neue", "Helvetica", "Arial", sans-serif'}
.condensed { font-family: {condensed}; }

{preload_replace:sans_serif='"Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif'}
.sans_serif { font-family: {sans_serif}; }

{preload_replace:system_sans_serif='"Helvetica Neue", "Helvetica", "Arial", sans-serif'}
.system_sans_serif { font-family: {system_sans_serif}; }


/* --------------------------------------------------------- */
/* --------------- COLORS --------------- */
/* --------------------------------------------------------- */

{preload_replace:black="#000000"}
.black { color: {black} !important; }

{preload_replace:white="#ffffff"}
.white { color: {white} !important; }

{preload_replace:light_grey="#e7e7e7"}
.grey, .light_grey { color: {light_grey} !important; }

{preload_replace:dark_grey="#363636"}
.dark_grey { color: {dark_grey} !important; }

{preload_replace:light_green="#c8e3b0"}
.light_green { color: {light_green} !important; }

{preload_replace:green="#65ad00"}
.green { color: {green} !important; }

{preload_replace:dark_green="#578502"}
.dark_green { color: {dark_green} !important; }

{preload_replace:light_blue="#a5ddf6"}
.light_blue { color: {light_blue} !important; }

{preload_replace:blue="#00b0ef"}
.blue { color: {blue} !important; }

{preload_replace:dark_blue="#0099cc"}
.dark_blue { color: {dark_blue} !important; }

{preload_replace:dark_blue="#0099cc"}
.dark_blue { color: {dark_blue} !important; }

{preload_replace:light_orange="#fad199"}
.light_orange { color: {light_orange} !important; }

{preload_replace:orange="#ff6406"}
.orange { color: {orange} !important; }

{preload_replace:dark_orange="#BE5D03"}
.dark_orange { color: {dark_orange} !important; }


/* --------------------------------------------------------- */
/* --------------- COLOR CONTEXTS --------------- */
/* --------------------------------------------------------- */

html, body { background: transparent; }

html, .inset-shadow {
	-moz-box-shadow: inset 0 0 6em rgba(0,0,0,.25);
	-webkit-box-shadow: inset 0 0 6em rgba(0,0,0,.25);
	-o-box-shadow: inset 0 0 6em rgba(0,0,0,.25);
	box-shadow: inset 0 0 6em rgba(0,0,0,.25);
}
	
body, .content_container, .dark_on_light {
	background: {white};
	color: {dark_grey};
	}

a, a:link, a:visited, a:active, .dark_on_light a, .dark_on_light a:link, .dark_on_light a:visited, .dark_on_light a:active {
	color: {dark_grey};
	}

a:hover, .dark_on_light a:hover {
	color: {dark_grey};
	}

.light_on_dark {
	background: {dark_grey};
	color: {white};
	}

.light_on_dark a, .light_on_dark a:link, .light_on_dark a:visited, .light_on_dark a:active {
	color: {white};
	}

.light_on_dark a:hover {
	color: {white};
	}

/* ====== orange page ====== */

.orange_page #main h1, .orange_page #main h2, .orange_page #main h3, .orange_page #main a, .orange_page .sidebar_nav li.level-2, .orange_page .sidebar_nav li.level-2 a, .orange_page .masthead a {
	color: {dark_orange};
}

.orange_page #sidebar {
	background: {light_orange};
}

.orange_page .paint {
	background: {orange} url('/media/design_assets/paint-orange-middle-short.png') 0 0 no-repeat;
}

.orange_page .paint:before {
	background: transparent url('/media/design_assets/paint-orange-top.png') 0 0 no-repeat;
}

.orange_page .paint:after {
	background: transparent url('/media/design_assets/paint-orange-bottom.png') 0 0 no-repeat;
}

/* ====== blue page ====== */

.blue_page #main h1, .blue_page #main h2, .blue_page #main h3, .blue_page #main a, .blue_page .sidebar_nav li.level-2, .blue_page .sidebar_nav li.level-2 a, .blue_page .masthead a {
	color: {dark_blue};
}

.blue_page #sidebar {
	background: {light_blue};
}

.blue_page .paint {
	background: {blue} url('/media/design_assets/paint-blue-middle-short.png') 0 0 no-repeat;
}

.blue_page .paint:before {
	background: transparent url('/media/design_assets/paint-blue-top.png') 0 0 no-repeat;
}

.blue_page .paint:after {
	background: transparent url('/media/design_assets/paint-blue-bottom.png') 0 0 no-repeat;
}

/* ====== green page ====== */

.green_page #main h1, .green_page #main h2, .green_page #main h3, .green_page #main a, .green_page .sidebar_nav li.level-2, .green_page .sidebar_nav li.level-2 a, .green_page .masthead a {
	color: {dark_green};
}

.green_page #sidebar {
	background: {light_green};
}

.green_page .paint {
	background: {green} url('/media/design_assets/paint-green-middle-short.png') 0 0 no-repeat;
}

.green_page .paint:before {
	background: transparent url('/media/design_assets/paint-green-top.png') 0 0 no-repeat;
}

.green_page .paint:after {
	background: transparent url('/media/design_assets/paint-green-bottom.png') 0 0 no-repeat;
}

/* ====== orange page ====== */

.grey_page #main h1, .grey_page #main h2, .grey_page #main h3, .grey_page #main a, .grey_page .sidebar_nav li.level-2, .grey_page .sidebar_nav li.level-2 a, .grey_page .masthead a {
	color: {dark_blue};
}

.grey_page #sidebar {
	background: {light_grey};
}

.grey_page .paint {
	background: {blue} url('/media/design_assets/paint-blue-middle-short.png') 0 0 no-repeat;
}

.grey_page .paint:before {
	background: transparent url('/media/design_assets/paint-blue-top.png') 0 0 no-repeat;
}

.grey_page .paint:after {
	background: transparent url('/media/design_assets/paint-blue-bottom.png') 0 0 no-repeat;
}


/* --------------------------------------------------------- */
/* --------------- TYPOGRAPHY BASELINE --------------- */
/* --------------------------------------------------------- */

body {
	font-family: {sans_serif};
	font-size: 13px;
	line-height: 1.7;
}

p {
	margin: 12px 0;
	}
	
a, a:link, a:visited, a:active {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1;
	margin-bottom: 0.8em;
	margin-top: 0.8em;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child, .no-margin {
	margin-top: 0;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child, .no-margin {
	margin-bottom: 0;
}

h1 {
	font-size: 38px;
	font-weight: bold;
	margin-bottom: 0.4em;
	font-family: {slab};
}

h2 {
	font-size: 28px;
	margin-bottom: 0.4em;
	font-family: {slab};
}

h3 {
	font-size: 22px;
	font-family: {slab};
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 13px;
}


/* --------------------------------------------------------- */
/* --------------- SPECIAL TYPOGRAPHY --------------- */
/* --------------------------------------------------------- */

.splatter_1 {
	width: intrinsic;
	min-width: 280px;
	min-height: 68px;
	background: transparent url('/media/design_assets/splatter_1.png') center 0 no-repeat;
	margin: 0;
	padding-bottom: 12px;
	padding-top: 45px;
	position: relative;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 8px black;
}

.splatter_2 {
	width: intrinsic;
	min-width: 280px;
	min-height: 68px;
	background: transparent url('/media/design_assets/splatter_2.png') center 0 no-repeat;
	margin: 0;
	padding-bottom: 12px;
	padding-top: 45px;
	position: relative;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 8px black;
}


/* --------------------------------------------------------- */
/* --------------- GENERIC HELPERS --------------- */
/* --------------------------------------------------------- */

/* ====== no-margin lists ====== */

.block_list, block_list li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* ====== media blocks ====== */

.mb { margin:10px; }
.mb, .mb_b { overflow:hidden; _overflow:visible; zoom:1; }
.mb .mb_m { float:left; margin-right: 24px; }
.mb .mb_m img { display:block; }
.mb .mb_m_alt { float:right; margin-left: 24px; }

/* ====== image auto-scaling ====== */

/* img { max-width: 100%; } */

/* ====== margin/padding tack-ons ====== */

.no_top_space {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

.top_rule {
	margin-top: 18px;
	padding-top: 18px;
	border-top: 2px solid {light_grey};
}

.vertical_margin {
	margin-top: 18px;
	margin-bottom: 18px;
}

.bottom_margin {
	margin-bottom: 18px;
}

.no_vertical_margin {
	margin-top: 0;
	margin-bottom: 0;
}

/* ====== link treatments ====== */

a.arrow:after {
	content: " \2192 ";
	margin-left: 4px;
}


/* --------------------------------------------------------- */
/* --------------- SPECIAL HELPERS / LIBRARY OVERRIDES --------------- */
/* --------------------------------------------------------- */

.btn {
	border-radius: 0;
}

.btn-primary {
	background: white;
	background: -webkit-linear-gradient(#ffffff 0%, #f5f5f5 100%);
	color: {blue};
}

.btn-success {
	color: {white} !important;
}

a.btn, .btn a {
	text-decoration: none !important;
}

.breadcrumb {
	background: transparent;
	border: none;
	border-bottom: 1px solid {light_grey};
	border-radius: 0;
	margin: 0;
	padding: 0 0 12px;
	font-size: 12px;
}

.breadcrumb a {
	text-decoration: none !important;
}
.breadcrumb a:hover {
	text-decoration: underline !important;
}

/* --------------------------------------------------------- */
/* --------------- PAGE --------------- */
/* --------------------------------------------------------- */

body {
	background: url('/media/design_assets/bg-paper.gif') 0 0 repeat;
}

.page_wrapper {
	width: 1032px;
	margin: 0 auto;
	background: white;
	box-shadow: 0px 0px 12px 0px {dark_grey};
}

#main a {
	text-decoration: none;
}

#main a:hover {
	text-decoration: underline;
}

/* --------------------------------------------------------- */
/* --------------- MASTHEAD --------------- */
/* --------------------------------------------------------- */

.masthead {
	height: 268px;
	background: white url('/media/design_assets/masthead-images.jpg') 356px 8px no-repeat;
	padding: 12px 0 0;
	position: relative;
}

.masthead_login {
	text-align: right;
	text-transform: uppercase;
	font-size: 12px;
}

.logo_mark {
	position: absolute;
	top: 36px;
	left: 36px;
	width: 291px;
	height: 214px;
	background: white url('/media/design_assets/logo-blue_on_white.jpg') 0 0 no-repeat;
}

div.masthead_social_links {
	position: absolute;
	bottom: 14px;
	left: 14px;
	height: 20px;
}

.social_icon {
	display: block;
	position: relative;
	float: left;
	height: 20px;
	width: 20px;
	z-index: 242;
	margin-right: 8px;
}

.facebook_icon {
	background: white url('/media/design_assets/social-facebook.png') 0 0 no-repeat;
}

.twitter_icon {
	background: white url('/media/design_assets/social-twitter.png') 0 0 no-repeat;
}

.masthead_search {
	text-align: right;
	font-size: 12px;
	margin-top: 8px;
}

/* --------------------------------------------------------- */
/* --------------- HOMEPAGE --------------- */
/* --------------------------------------------------------- */

.homepage_paint {
	margin: 0 auto;
	min-height: 330px;
	padding: 24px 0;
	background: {blue} url('/media/design_assets/paint-blue-middle-homepage.png') 0 0 no-repeat;
	position: relative;
}

.homepage_paint:before {
	content: ' ';
	display: block;
	margin: 0 auto;
	height: 69px;
	width: 1032px;
	background: transparent url('/media/design_assets/paint-blue-top.png') 0 0 no-repeat;
	position: absolute;
	top: -69px;
	z-index: 2;
}

.homepage_paint:after {
	content: ' ';
	display: block;
	margin: 0 auto;
	height: 69px;
	width: 1032px;
	background: transparent url('/media/design_assets/paint-blue-bottom.png') 0 0 no-repeat;
	position: absolute;
	bottom: -68px;
	z-index: 2;
}


.homepage_nav {
}

.homepage_nav_block {
	background: {black};
	float: left;
	width: 184px;
	margin: 0 0 0 24px;
	border-radius: 2px;
	overflow: hidden;
}

.homepage_nav_block.first {
	margin: 0 0 0 0;
}

.homepage_nav_block h2 {
	font-family: {sans_serif};
	text-transform: uppercase;
	margin: 12px;
	font-weight: normal;
	letter-spacing: 1px;
}

.homepage_nav_list a {
	color: {white};
	padding: 4px 12px;
	border-top: 1px solid {dark_grey};
	display: block;
	font-family: {system_sans_serif};
	font-size: 12px;
}

.homepage_nav_list a:hover {
	background: {dark_grey};
}


.homepage_flag {
	background: {orange};
	position: relative;
	left: -66px;
	margin: 16px 0;
	width: 85%;
	border-radius: 2px;
	border-bottom-left-radius: 0;
}

.homepage_flag:nth-of-type(1) {
	margin-top: 24px;
}

.homepage_flag:before {
	content: ' ';
	display: block;
	height: 0;
	width: 0;
	border-color: {dark_orange} transparent;
	border-style: solid;
	border-width: 10px 0 0 10px;
	position: absolute;
	bottom:-10px;
	left: 0;
	z-index: 1;
}

.homepage_flag:hover:before {
	border-color: {orange} transparent;
}

.homepage_flag a {
	display: block;
	padding: 8px 8px 8px 66px;
	box-shadow: 2px 2px 6px {dark_grey};
	z-index: 42;
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
}

.homepage_flag a:hover {
	background: {light_orange};
}

.homepage_flag a:after {
	color: {dark_orange};
}


#homepage_main {
	padding: 38px 0;
	background: {light_blue};
}

.homepage_main_content {
	position: relative;
	z-index: 42;
}

.sponsor_logos {
	text-align: center;
	vertical-align: middle;
	background: transparent;
	margin: 48px auto 6px;
}

.sponsor_logo {
	display: inline;
	margin: 12px;
}

/* --------------------------------------------------------- */
/* --------------- PAINT --------------- */
/* --------------------------------------------------------- */

.paint {
	margin: 0 auto;
	min-height: 60px;
	background: {blue} url('/media/design_assets/paint-blue-middle-short.png') 0 0 no-repeat;
	position: relative;
}

.paint:before {
	content: ' ';
	display: block;
	margin: 0 auto;
	height: 69px;
	width: 1032px;
	background: transparent url('/media/design_assets/paint-blue-top.png') 0 0 no-repeat;
	position: absolute;
	top: -69px;
	z-index: 2;
}

.paint:after {
	content: ' ';
	display: block;
	margin: 0 auto;
	height: 69px;
	width: 1032px;
	background: transparent url('/media/design_assets/paint-blue-bottom.png') 0 0 no-repeat;
	position: absolute;
	bottom: -67px;
	z-index: 2;
}

.paint_nav {
	position: relative;
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

.paint_nav li {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
	margin: 0;
	width: 33%;
	padding: 6px 0 0;
	text-align: center;
	float: left;
	position: relative;
}

.paint_nav li a {
	color: {white};
	text-shadow: 0px 0px 4px black;
}
.paint_nav li a:hover {
	color: {white};
	text-shadow: 0px 0px 8px black;
}

#paint_nav-play a:hover {
	color: {light_orange};
}
#paint_nav-work a:hover {
	color: {light_green};
}
#paint_nav-live a:hover {
	color: {light_blue};
}


/* --------------------------------------------------------- */
/* --------------- CONTENT CONTAINERS --------------- */
/* --------------------------------------------------------- */

.content_wrapper {

}

#main {
	width: 600px;
	padding: 38px 38px 72px;
	margin: 0 0;
	float: left;
}

.main_content {
	position: relative;
	z-index: 42;
}

#sidebar {
	width: 280px;
	padding: 38px 38px 72px;
	margin: 0 0;
	float: left;
	background: {light_blue};
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.sidebar_content {
	position: relative;
	z-index: 42;
}

#fullwidth_main {
	padding: 38px 0;
	/* background: {light_blue}; */
}

.fullwidth_main_content {
	position: relative;
	z-index: 42;
	margin: 0px 24px;
}


/* --------------------------------------------------------- */
/* --------------- SIDEBAR --------------- */
/* --------------------------------------------------------- */

.sidebar_nav {
	margin: 0;
	padding: 0;
}

.sidebar_nav li.level-1 {
	list-style: none;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 18px;
}

.sidebar_nav li.level-1 a {
	color: black;
}

.sidebar_nav li.level-2 {
	font-weight: normal;
	font-size: 14px;
}

/* --------------------------------------------------------- */
/* --------------- FOOTER --------------- */
/* --------------------------------------------------------- */

.footer {
	margin: 0 auto;
	min-height: 20px;
	background: #121212;
	position: relative;
	color: white;
	padding-top: 6px;
	padding-bottom: 18px;
	text-align: right;
}

.footer:before {
	content: ' ';
	display: block;
	margin: 0 auto;
	height: 101px;
	width: 1032px;
	background: transparent url('/media/design_assets/footer-black-top.png') 0 0 no-repeat;
	position: absolute;
	top: -101px;
}

.footer a {
	color: white;
}

div.footer_social_links {
	height: 20px;
	width: 60px;
	float: right;
	margin-left: 24px;
}


/* --------------------------------------------------------- */
/* --------------- CALENDAR --------------- */
/* --------------------------------------------------------- */

.fc-event-skin {
	background: #eee !important;
}


/* --------------------------------------------------------- */
/* --------------- BACKSTAGE FORMS --------------- */
/* --------------------------------------------------------- */

.control-label {
	font-weight: bold;
}

.form_instructions {
	color: #aaa;
	font-style: italic;
}


/* --------------------------------------------------------- */
/* --------------- STUDIO LISTING --------------- */
/* --------------------------------------------------------- */

#studio_listing_table {
	margin-top: 8px;
}

#studio_listing_table td.center {
	text-align: center;
	vertical-align: middle;
}


/* --------------------------------------------------------- */
/* --------------- HOVER TRANSITION EFFECTS --------------- */
/* --------------------------------------------------------- */

* {
    -webkit-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
    -moz-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
    -o-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
    }