/* ============================================================================= */
/* =====------===  fonts  ===------===== */

/* Rokkitt (400, 700): 52kb */
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);

/* Open Sans (300, 300i, 400, 400i, 600, 600i, 700, 700i, 800, 800i): 150kb */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);

/* Open Sans Condensed (300, 300i, 700): 51kb */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);


/* ============================================================================= */
/* =====------===  library styles  ===------===== */

{embed="styles/.h5b-reset"}
{embed="styles/.bootstrap-mod"}
{embed="styles/.mga-grid"}


/* ============================================================================= */
/* =====------===   plugin styles  ===------===== */

{embed="styles/.plugin-royalslider-mod"}
{embed="styles/.plugin-fullcalendar"}
{embed="styles/.plugin-fullcalendar-print"}
{embed="styles/.plugin-fancybox"}


/* ============================================================================= */
/* =====------===   site styles  ===------===== */

{embed="styles/.mga-web"}